div.container-fluid#big-question
    form(name='sclForm').form-inline
        div
            | Will
            span(ng-class='$ctrl.createCourseStyleObject()')
                input.form-control(
                    type='text'
                    placeholder='CSC 202'
                    name='course'
                    size='3',
                    required
                    ng-model='$ctrl.course'
                    ng-pattern='$ctrl.courseRegex'
                )
            | transfer to
            select.form-control(
                name='institution'
                ng-model='$ctrl.institution'
                ng-options='inst.acronym as inst.acronym for inst in $ctrl.availableInstitutions'
                required
            )
            |?

div.container(ng-show="$ctrl.result")
    div.equivalency-block(ng-repeat="equivalency in $ctrl.result.equivalencies | equivalency")
        h2 Option {{$index + 1}}
        div.course-set-block
            p(ng-repeat="input in equivalency.input") {{input.primary}} ({{input.secondary}})
        span.glyphicon.glyphicon-arrow-down
        div.course-set-block
            p(ng-repeat="output in equivalency.output") {{output.primary}} ({{output.secondary}})

div.container.no-results(ng-show="$ctrl.result && $ctrl.result.equivalencies.length === 0")
    p.text-muted There's nothing here ¯\_(ツ)_/¯
